<%- include("partials/navbar") %>
<link rel="stylesheet" href="/open-blog.css" />

<main>
  <h1>Title: <%= post.title %></h1>
  <h3>Subtitle: <%= post.subtitle %></h3>
  <h6>Author: <%= post.author %></h6>
  <p>Content: <%= post.content %></p>

  <a href="/">Home</a>
</main>
